body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Задай нужный размер логотипа */
    height: auto;
    margin-right: 10px; /* Отступ между логотипом и текстом */
}

h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px; /* Отступы внутри основного контента */
}

footer {
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px; /* Отступы внутри подвала */
    background-color: #333; /* Цвет фона подвала */
    color: white; /* Цвет текста подвала */
}
