а@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:wght@500;600;700&display=swap');
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

.header-container {
    padding: 20px;
    margin: 0 20px;
}

.big-logo {
    display: block;
    margin: 20px auto;
    margin-left: -100px;
    max-width: 600px; 
    width: 200%; 
    height: auto; /
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 15px;
    margin: 20px;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding-top: 100px;
}

footer {
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px; /* Отступы внутри подвала */
    background-color: #333; /* Цвет фона подвала */
    color: white; /* Цвет текста подвала */
}
